.user-mange-container {
	.content { margin-top: 20px;
		:deep(.custom-el-table) {
			.el-table__inner-wrapper {
				.el-table__body-wrapper {
				
				}
			}
		}
		.pagination-container { width: 100%; @extend .f_center;position: absolute;top: 1120px;}
	}
}
