

.layout-container { width: 100%;height: 100%;@extend .flex;
	.sidebar-container { width: auto;height: 100%;position: relative;z-index: 3;
		.sidebar-wrapper { height: 100%;
			:deep(.el-menu) { height: 100% !important;
				.el-sub-menu {
					.el-sub-menu__title { padding-right: initial}
				}
			}
		}
	}
	.content-container { flex: auto;@extend .flex;@extend .f_column;position: relative;z-index: 2;overflow: hidden;
		.navbar-container { width: 100%;height: auto;@extend .j_between;@extend .a_center;padding: 0 20px;border-left: 1px solid var(--theme-main-bgc);background-color: var(--theme-navbar-bgc);position: relative;z-index: 1;}
		.main-container { flex: auto;overflow: hidden;}
	}
}
